body {
  background-color: #98FB98;
  display: grid;
  place-items: center;
  padding-top: 250px;
}

header {
  padding-bottom: 10px;
  font-size: 42px;
  margin-top: 0;
}

.text-border {
  border: 3px solid black;
  padding: 30px;
}

footer {
  padding-top: 80px;
  font-size: 20px;
}